@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  width:320px;
}


#coins-table {
  width: 100%;
  border-collapse: collapse;

}

#coins-table th, #coins-table td {
  border: 1px solid #ccc;
  padding: 8px;
  font-weight:700;
}

#coins-table th {
  background-color: #f2f2f2;
}

#coins-table img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
}

.price-change {
  color: green;
}

.price-change.negative {
  color: red;
}

.image-and-name {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-bottom: 10px;
  outline: none;
}

#search-input::placeholder {
  color: #999;
}

#change-currency-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#change-currency-select option {
  padding: 8px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

/* Custom arrow icon */
.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}